.nav{
    overflow: hidden;
}
.logo img {
    float: left;
    width: 160px;
    height: 160px;
}

.slum{
    float: left;
    margin-left: 75px;
}

.slogan{
    color: #111d5e;
    font-size: 60px;
    font-family: cursive;
    margin: 0px;

}

.a{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    color: #111d5e
}

.a1{
    float: left;
    margin: auto;
    display: block;
    color: #111d5e;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #111d5e;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #111d5e;
}

.btn + .btn{
    margin-left: 17px;
}

.btn--biete{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 16%;
    font-size: 24px;
    background-color: #ffcda3;
}

.btn--suche{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 24px;
    background-color: #ffcda3;
}